@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap");
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

a {
  color: var(--text);
}

.title_small {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}
.title_mid {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.star {
  animation: star 10s infinite linear;
}
.star-2 {
  animation: star-2 10s infinite linear;
}
.star-3 {
  animation: star-3 10s infinite linear;
}
.star-4 {
  animation: star-4 10s infinite linear;
}
.star-5 {
  animation: star-5 10s infinite linear;
}

@keyframes star {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes star-2 {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(380deg);
  }
}
@keyframes star-3 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(400deg);
  }
}
@keyframes star-4 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}
@keyframes star-5 {
  0% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(440deg);
  }
}
@keyframes dot {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
.container {
  min-height: 100vh;
  display: grid;
  grid: "header profil " 25rem " main aside" 1fr "footer footer" auto/1fr 30rem;
}
@media (max-width: 480px) {
  .container {
    grid: "header" auto "main" 1fr "profil" 0.8rem "aside" auto "footer" auto/auto;
  }
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-weight: 300;
  font-size: 5rem;
  letter-spacing: 1rem;
  padding: 5rem;
  text-align: center;
}
@media (max-width: 480px) {
  header h1 {
    font-size: 4rem;
    padding: 3rem;
  }
}

.profil {
  position: relative;
  grid-area: profil;
  background: var(--background);
}
.profil img {
  position: absolute;
  bottom: 0;
  filter: contrast(120%);
}
@media (max-width: 480px) {
  .profil img {
    justify-self: end;
    top: 5.2rem;
    right: 1rem;
    height: 24rem;
    border-radius: 50%;
  }
}

aside {
  grid-area: aside;
  background-color: var(--background);
  padding-left: 3rem;
}
aside h2 {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  margin: 6rem 0 2rem 0;
}
aside p {
  font-size: 1.1rem;
  margin: 0;
  font-style: italic;
  opacity: 0.9;
}
aside p a {
  transition: all 0.5s;
  display: flex;
  align-items: center;
}
aside p a i {
  margin-right: 0.5rem;
}
aside p a:hover {
  color: var(--secondary);
  font-size: 1.5rem;
}
aside .skill_bar {
  height: 0.3rem;
  background-color: var(--hint);
  position: relative;
  margin: 1.5rem 3rem 1.5rem 0;
}
aside .skill_bar_progress {
  position: absolute;
  height: 0.3rem;
  width: 89%;
  background: var(--secondary);
}
aside .skill_bar_dot {
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background: var(--dark);
  top: -0.15rem;
  left: 100%;
  animation: dot 1s infinite linear;
  cursor: grab;
}
aside .fa-star {
  color: var(--light);
}

main {
  grid-area: main;
  border-left: 1px solid var(--border);
  padding: 4rem;
}
main h2 {
  font-size: 2.3rem;
  letter-spacing: 0.3rem;
}
main p {
  line-height: 2.3rem;
  margin-bottom: 5rem;
}
main .profile {
  text-align: center;
}
@media (max-width: 480px) {
  main .profile {
    text-align: initial;
  }
}
main .experience {
  display: flex;
  margin-bottom: 4rem;
}
main .experience .dates {
  border-right: 1px solid var(--border);
  padding-right: 2rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  color: var(--hint);
}
main .experience .presentation div {
  color: var(--hint);
}
main .experience .presentation p {
  margin: 2rem 0 3rem 0;
}
main .experience .presentation ul {
  padding-left: 5rem;
  padding-bottom: 2rem;
  list-style: circle;
}
main .experience .presentation ul li {
  padding: 0.8rem;
}

footer {
  grid-area: footer;
  background-color: #262626;
  color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
footer .form {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  width: auto;
  margin: 1rem;
  padding: 0rem 1.5rem;
  border-radius: 0.5rem;
}
footer .form i {
  color: var(--background);
  padding: 0 0.4rem;
}
footer .form input {
  height: 3.5rem;
  width: 26rem;
  outline: none;
}
@media (max-width: 480px) {
  footer .form input {
    width: 20rem;
  }
}
footer .form button {
  border: none;
  background: var(--secondary);
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
