:root {
  // colors

  // blue

  --primary: #1380ec;
  --secondary: #4299f0;
  --light: #89bff5;
  --dark: #0b4d8e;

  //  red

  // --primary: #e60000;
  // --secondary: #ff1a1a;
  // --light: #ff3333;
  // --dark: #800000;

  // green

  // --primary: #28a428;
  // --secondary: #32cd32;
  // --light: #6fdc6f;
  // --dark: #0f3d0f;

  --text: #262626;
  --background: #f2f2f2;
  --hint: #999999;
  --border: #ddd;

  //   Fonts

  --font-family: "Mulish", serif;
}
